.todo-list__form {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    background-color: var(--primary-color-200);
    padding: 1rem;
    border-radius: 0.5rem;
}

.todo-list__form input {
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 1rem;
}

.todo-list__form button{
    color: white;
    background-color: var(--complementary-color-400);
    border: 1px solid var(--complementary-color-500);
    cursor: pointer;
    padding: 0 1.5rem;
}